#user-container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#dialog {
    size: auto;
    object-fit: contain;
}



.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}